{% extends 'layout.html.twig' %}

{# /outils #}

{% set page = 'tools' %}
{% set domain = 'tools' %}

{% block header %} 
  <div class="header" style="background-image: url({{ asset('resources/images/bg-header-tools.jpg') }});">
    <div class="header-content-wrapper">
      <h1>Les outils</h1>
      <h2>Lorem ipsum blabla</h2>
    </div>
  </div>
{% endblock %}
