@font-face {
  font-family: "CinzelDecorative-Bold";
  src: url("../../fonts/cinzel/CinzelDecorative-Bold.otf") format("otf"); }
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2D3132;
  background: #000; }

/* ========== GENERAL ========== */
h1 {
  font-family: "CinzelDecorative-Bold";
  color: #F0E6D2; }

h2 {
  font-family: "CinzelDecorative-Bold";
  color: #FECB5B; }

a {
  text-decoration: none; }

.main .container {
  max-width: 900px;
  margin: auto;
  padding: 100px 30px; }

.main-home {
  background: url(../../images/bg-main-home.jpg) no-repeat fixed; }

.main-abilities {
  background: url(../../images/bg-main-abilities.jpg) no-repeat fixed; }

.main-arcanes {
  background: url(../../images/bg-main-arcanes.jpg) no-repeat fixed; }

header {
  height: 700px;
  background-size: cover; }

.header-content-wrapper {
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: auto; }
  .header-content-wrapper img {
    width: 400px; }
  .header-content-wrapper h1 {
    margin-bottom: 0px;
    font-size: 3em;
    text-transform: uppercase; }
  .header-content-wrapper h2 {
    margin-top: 20px;
    font-size: 2.5em; }

.header-home {
  background-image: url(../../images/home/home-header-bg.jpg); }

.header-abilities {
  background-image: url(../../images/bg-header-abilities.jpg); }

.header-arcanes {
  background-image: url(../../images/bg-header-arcanes.jpg); }

.breadcrum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 120px 0; }
  .breadcrum .line {
    width: 100%;
    height: 1px;
    background: #FECB5B; }
  .breadcrum .breadcrum-items {
    position: absolute;
    display: flex; }
    .breadcrum .breadcrum-items a {
      width: 90px;
      position: relative;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 5px; }
      .breadcrum .breadcrum-items a img {
        height: 25px;
        margin-bottom: 8px;
        opacity: 0.3;
        transition: opacity 0.5s; }
      .breadcrum .breadcrum-items a span {
        margin-bottom: 2px;
        font-family: "CinzelDecorative-Bold";
        font-size: 0.8em;
        color: #F0E6D2;
        opacity: 0.3;
        transition: opacity 0.5s; }
      .breadcrum .breadcrum-items a .bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px; }
        .breadcrum .breadcrum-items a .bullets .bullet-default {
          width: 10px;
          height: 10px;
          position: absolute;
          border-radius: 100%;
          border: 1px solid #FECB5B;
          background: #F98D08; }
        .breadcrum .breadcrum-items a .bullets .bullet-active {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background: rgba(255, 191, 0, 0.5);
          opacity: 0;
          transition: opacity 0.5s; }
    .breadcrum .breadcrum-items a.active img,
    .breadcrum .breadcrum-items a.active span,
    .breadcrum .breadcrum-items a.active .bullet-active,
    .breadcrum .breadcrum-items a:hover img,
    .breadcrum .breadcrum-items a:hover span,
    .breadcrum .breadcrum-items a:hover .bullet-active {
      opacity: 1; }

.section-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }

.block-wrapper {
  margin-top: 30px; }

.block {
  position: relative;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #FECB5B; }

.block-home1,
.block-home2,
.block-home3 {
  width: 350px;
  height: 340px; }

.block-home1 {
  background: url(../../images/home/home-short-bg1.png) no-repeat;
  background-size: cover; }

.block-home2 {
  margin: 0 30px;
  background: url(../../images/home/home-short-bg2.png) no-repeat;
  background-size: cover; }

.block-home3 {
  background: url(../../images/home/home-short-bg3.png) no-repeat;
  background-size: cover; }

.block-short {
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #FECB5B;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); }
  .block-short img {
    position: relative;
    bottom: 25px; }
  .block-short p {
    max-width: 250px;
    position: relative;
    bottom: 20px;
    margin: auto;
    font-weight: 300;
    color: #F0E6D2; }

.block-intro {
  margin-bottom: 70px;
  text-align: center;
  background: rgba(0, 0, 0, 0.38); }
  .block-intro p {
    max-width: 850px;
    margin: 20px auto;
    text-align: justify;
    font-family: "Manuale", serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #F0E6D2; }

.block-title div {
  display: flex; }
  .block-title div img {
    margin-right: 15px; }
  .block-title div h1 {
    margin: 10px 0; }
.block-title span {
  font-family: "Manuale", serif;
  font-size: 1.1em;
  color: #FECB5B; }

.block-split-wrapper {
  margin-bottom: 30px; }

.block-split {
  display: flex;
  margin-top: 20px;
  padding: 0;
  background: url(../../images/block-pattern.png); }
  .block-split img {
    height: 90%;
    position: absolute;
    bottom: 0;
    top: 15px;
    left: -165px; }
  .block-split .block-content {
    width: 60%;
    padding: 30px;
    text-align: justify; }
    .block-split .block-content .block-content-title h2 {
      margin: 0 0 3px 0;
      color: #2D3132; }
    .block-split .block-content .block-content-title span {
      font-family: "Manuale", serif;
      font-size: 1.2em;
      color: #8B6F4D; }
    .block-split .block-content .block-content-title .title-underline {
      height: 1px;
      margin-top: 10px;
      background: #FECB5B; }
  .block-split .bg-abilities1,
  .block-split .bg-abilities2,
  .block-split .bg-arcanes1 {
    width: 40%;
    min-height: 100%; }
  .block-split .bg-abilities1 {
    background: url(../../images/abilities/combustion.png) no-repeat;
    background-size: cover; }
  .block-split .bg-abilities2 {
    background: url(../../images/abilities/courant-electrique.jpg) no-repeat;
    background-size: cover; }
  .block-split .bg-arcanes1 {
    background: url(../../images/arcanes/bg-img/source.jpg) no-repeat;
    background-size: cover;
    background-position-y: -470px; }

.reverse {
  flex-direction: row-reverse; }
  .reverse img {
    height: 90%;
    position: absolute;
    bottom: 0;
    top: 25px;
    right: 365px; }

/*# sourceMappingURL=style.css.map */
