{% extends 'includes/sections/default.html.twig' %}

{% block more %}
    {% if need is defined and need is not empty %}
        <hr>
        <div class="need">
            <label>Nécessite :</label>
            {% for abilityNeeded in need %}
                {% if not loop.first %}, {% endif %}
                {% include 'includes/popovers/rule.html.twig' with {
                'display': abilityNeeded.name,
                'entity': abilityNeeded,
                'createModals': true
                } %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}