###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

.idea
config/packages/dev/doctrine_local.yaml
public/resources/style/.sass-cache
/public/resources/style/scss/style.css
/public/resources/style/scss/style.css.map
/public/resources/build/
