###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

.idea
/config/packages/dev/doctrine_local.yaml
/config/packages/prod/doctrine_local.yaml
assets/style/.sass-cache
/assets/scss/style.css
/assets/scss/style.css.map
/public/resources/build/
/public/index_prod.php

node_modules/
