/* =======================
========= header =========
======================= */
.header-home {
  height: 740px;
  background-position-y: 5px;

  .header-content-wrapper {
    position: relative;
    top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0;
      
      font-family: "CinzelDecorative-Bold", serif;
      font-weight: bold;
      font-size: 6em;
      text-transform: uppercase;
      text-shadow: 0 2px 4px #000000;
      color: #FECB5B;
      position: relative;
      top: 21px;
      z-index: 20;
    }
  
    h2 {
      margin: -20px 0 30px 0;

      font-size: 4.5em;
      text-transform: none;
      text-shadow: 0 2px 4px #000000;
      color: #F0E6D2;
    }
  
    span {
      color: $primary-color;
      text-shadow: 0 1px 0 #000000;
    }
  
    span:first-of-type {
      font-weight: 700;
      font-size: 1.3em;
    }
  
    span:last-of-type {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2.2em;
    }
  }
}

/* ========================
=== Blocks presentation ===
======================== */
.block-home1,
.block-home2,
.block-home3 {
  width: 350px;
  height: 300px;
  border: 1px solid $secondary-color;
}

.block-home1 {
  background: url(../../public/resources/images/home/home-short-bg1.png) no-repeat;
  background-size: cover;
}
.block-home2 {
  background: url(../../public/resources/images/home/home-short-bg2.png) no-repeat;
  background-size: cover;
}
.block-home3 {
  background: url(../../public/resources/images/home/home-short-bg3.png) no-repeat;
  background-size: cover;
}





.block-presentation-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 80px 0;

  .blocks-items {
    width: 30%;
    height: 270px;
    position: relative;
    display: flex;
    justify-content: center;

    .border {
      position: absolute;
      top: 7px;
      right: 7px;
      bottom: 7px;
      left: 7px;

      border: 1px solid $secondary-color;
      will-change: opacity;
    }

    .content {
      height: 80px;
      position: absolute;
      right: 8px;
      bottom: 8px;
      left: 8px;
      border-top: 1px solid #FECB5B;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);

      img {
        position: relative;
        bottom: 24px;
      }

      p {
        max-width: 250px;
        position: relative;
        bottom: 23px;
        margin: auto;
        font-weight: 300;
        color: #F0E6D2;
      }
    }
  }

  .content-wrapper {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .block-item {
    min-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .block1 {
    background: url(../../public/resources/images/home/home-short-bg1.png) no-repeat;
    background-size: cover;
  }
  .block2 {
    background: url(../../public/resources/images/home/home-short-bg2.png) no-repeat;
    background-size: cover;
  }
  .block3 {
    background: url(../../public/resources/images/home/home-short-bg3.png) no-repeat;
    background-size: cover;
  }
}

/* ========================
======= Blocks user =======
======================== */
.block-user-wrapper {
  display: flex;
  background: rgb(0,0,0);

  .block-user {
    width: 50%;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .border {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;

      border: 1px solid $secondary-color;
      will-change: opacity;
    }

    h1 {
      text-shadow: 0 2px 0px #000000;
    }
  }
  
  .content-wrapper {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .block-item {
    min-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    
    opacity: 0.5;
    transition: opacity 0.5s;
  }
  .block-user:first-of-type:hover .block-item {
    opacity: 0.8;
  }

  .block-player {
    background: url(../../public/resources/images/home/block-player.jpg) no-repeat;
    background-size: 400%;
    background-position-x: -857px;
    background-position-y: -470px;
  }

  .block-mj {
    background: url(../../public/resources/images/home/block-mj.jpg) no-repeat;
    background-size: 110%;
  }

  .disabled {
    filter: grayscale(100%);
    cursor: default;

    .content-wrapper {
      opacity: 0.5;
    }
  }
}

