.navbar {
  height: 65px;
  position: fixed;
  top: 0;
  right: 0;
  left:0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;

  background: $dark-bg;

  @media #{$responsive-phone} {
    display: none;
  }

  .navbar-container {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 32px;
      margin: 0 10px 0 0;
    }

    div span {
      display: block;

      font-family: $font-family-primary;
    }

    div span:first-of-type {
      position: relative;
      top: 3px;

      font-size: 0.8em;
      color: $primary-color;
    }

    div span:last-of-type {
      color: $secondary-color;
    }
  }

  .tabs {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  .tabs > li {
    height: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 45px 0 45px;

    cursor: pointer;
    
    a {
      height: 100%;
      display: flex;
      align-items: center;

      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: $primary-color;
    }

    ul {
      width: 175px;
      display: none;
      position: absolute;
      top: 66px;
      padding: 0;

      list-style-type: none;
      border-radius: 2px;
      background: $dark-bg;

      li {
        margin: 0;
        transition: background 0.5s;

        a {
          width: 100%;
          padding: 10px 20px;
          
          font-family: 'Open Sans', sans-serif;
          font-size: 0.8em;
          font-weight: 300;
        }
      }

      li:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      li:last-of-type {
        border-bottom: none;
      }
    }
  }

  .tabs > li:last-of-type {
    padding-right: 0;
  }

  .tabs > li > a {
    border-bottom: 3px solid $secondary-color;
    box-sizing: border-box;
    border-color: transparent;
  }

  .tabs > li:hover > a, .tabs > li.active > a {
    border-bottom: 2px solid $secondary-color;
    box-sizing: border-box;
    border-color: $secondary-color;
  }

  .tabs > li:hover a, .tabs > li.active a {
    color: $primary-color;
  }

  .tabs > li:hover ul {
    display: block;
    padding: 15px 5px 5px 5px;
  }

  .tabs > li > ul > li > a {
    text-transform: inherit;
  }
}



/* ====================
===== Menu burger =====
==================== */
.navbar-mobile {
  display: none;

  @media #{$responsive-phone} {
    display: block;
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    background: $dark-bg;

    svg {
      width: auto;
      height: 15px;

      fill: $primary-color;
      cursor: pointer;
    }

    .logo {
      display: flex;
      align-items: center;
  
      img {
        height: 23px;
        margin: 0;
      }

      div {
        display: none;
      }
  
      div span {
        display: block;
  
        font-family: $font-family-primary;
      }
  
      div span:first-of-type {
        position: relative;
        top: 3px;
  
        font-size: 0.8em;
        color: $primary-color;
      }
  
      div span:last-of-type {
        color: $secondary-color;
      }
    }
  }

  .filter {
    display: none;
    z-index: 4050;
    position: absolute;
    top: 40px;
    right: 0%;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.63);
  }

  .burger-wrapper {
      .burger {
      z-index: 5000;
      position: absolute;
      top: 40px;
      right: 100px;
      bottom: 0;
      left: 0;

      background: $dark-bg;
      transform: translateX(-350px);
      transition: transform 0.5s;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        ul {
          li {
            margin-bottom: 1px;

            a {
              display: block;
              padding: 10px 60px;

              font-family: 'Open Sans', sans-serif;
              font-weight: 300;
              color: $primary-color;
              background: $dark-bg;
            }
          }
        }

        a {
          display: block;
          margin-bottom: 1px;
          padding: 15px 30px;

          font-family: $font-family-primary;
          color: $primary-color;
          background: rgba(255, 255, 255, 0.03);
        }
      }
    }
  }
}

.navbar-mobile.open {
  .burger-wrapper {
    .filter {
      display: block;
    }

    .burger {
      transform: translateX(0);
    }
  }
}



