.navbar {
  height: 65px;
  position: fixed;
  top: 0;
  right: 0;
  left:0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  border-bottom: 1px solid $secondary-color;
  background: $dark-template;

  @media #{$responsive-phone} {
    display: none;
  }

  .navbar-container {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 32px;
      margin: 0 10px 0 0;
    }

    div span {
      display: block;

      font-family: $font-family-primary;
    }

    div span:first-of-type {
      position: relative;
      top: 3px;

      font-size: 0.8em;
      color: $primary-color;
    }

    div span:last-of-type {
      color: $secondary-color;
    }
  }

  .tabs {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  .tabs > li {
    height: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 45px 0 45px;

    cursor: pointer;
    
    a {
      height: 100%;
      display: flex;
      align-items: center;

      font-family: $font-family-primary;
      color: $primary-color;
    }

    ul {
      width: 175px;
      display: none;
      position: absolute;
      top: 65px;
      padding: 0;

      list-style-type: none;
      border-radius: 2px;
      border: 1px solid $secondary-color;
      background: url(../../public/resources/images/navbar-pattern.png);

      li {
        margin: 0;

        border-bottom: 1px solid $secondary-color;
        transition: background 0.5s;

        a {
          width: 100%;
          padding: 10px 20px;
          
          font-family: 'Open Sans', sans-serif;
          font-size: 0.8em;
          font-weight: 300;
        }
      }

      li:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      li:last-of-type {
        border-bottom: none;
      }
    }
  }

  .tabs > li:last-of-type {
    padding-right: 0;
  }

  .tabs > li > a {
    border-bottom: 6px solid $secondary-color;
    box-sizing: border-box;
    border-color: transparent;
  }

  .tabs > li:hover > a, .tabs > li.active > a {
    border-bottom: 5px solid $secondary-color;
    box-sizing: border-box;
    border-color: $secondary-color;
  }

  .tabs > li:hover a, .tabs > li.active a {
    color: $primary-color;
  }

  .tabs > li:hover ul {
    display: block;
  }

  .login {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;

    .login-user {
      text-align: right;

      span {
        display: block;

        color: $primary-color;
      }

      span:first-of-type {
        font-size: 0.9em;
      }

      span:last-of-type {
        font-size: 0.7em;
        font-weight: 300;
      }
    }

    .bg-user {
      width: 40px;
      height: 40px;
      margin: 0 15px 0 10px;

      border-radius: 100%;
      border: 1px solid $primary-color;
      background: url(../../public/resources/images/user.jpg);
      background-size: 110%;
    }

    .tabs > li {
      padding: 0;
    }

    img {
      height: 6px;
      cursor: pointer;
    }
  }
}

