/* ====================
======= Popover =======
==================== */
[data-toggle=popover], .toggle-popover {
  color: $secondary-color;
  cursor: pointer;
}
.popover {
  position: relative;
  z-index: 1001;

  border-radius: 3px;
  color: $primary-color;
  background: 
  linear-gradient(to top, black, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 90%, black),
  linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 90%, black),
  url(../../public/resources/images/popover.jpg) no-repeat;
  background-size: cover;

  .popover-header {
    padding: 5px 20px 20px 20px;
    
    font-size: 1em;
    font-family: $font-family-primary;

    h3 {
      padding-top: 0;
      margin-top: 0; 
    }
  }

  .popover-body {
    padding: 20px;

    font-size: 0.8em;
    font-weight: 300;
    color: $secondary-color;
    background: rgba(0, 0, 0, 0.5);
  }
}
.modal .popover {
  z-index: 2000;
}
