/* ====================
======= Popover =======
==================== */
[data-toggle=popover], .toggle-popover {
  color: $secondary-color;
  cursor: pointer;
}
.popover {
  min-width: 180px;
  max-width: 250px;
  position: relative;
  z-index: 1001;
  padding: 10px;

  border-radius: 1px;
  border-width: 1px;
  background: $primary-color;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);

  .popover-header {
    margin: 0;
    padding: 0 0 5px 0;

    font-size: 0.9em;
    font-family: $font-family-primary;
    color: #101010;
  }

  .popover-body {
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: 300;
    color: #101010;
  }
}
.modal .popover {
  z-index: 2000;
}
