{% extends 'layout-rules.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var arcane \App\Entity\Rule\Arcane #}
{# @var arcanes \App\Entity\Rule\Arcane[] #}
{# @var abilities \App\Entity\Rule\Ability[] #}

{% set header_bg = asset('resources/images/arcanes/'~arcane.id~'.jpg') %}
{% set subtitle = 'Capacités '~arcane.owningStyle %}

{% block breadcrumb %}
    {{ include('includes/breadcrumbs/abilities.html.twig', [arcanes, arcane]) }}
{% endblock %}

{% block container %}
  <div class="block-intro">
    <p>{{ arcane.description|augment|raw }}</p>
  </div>

  {% for ability in abilities %}
    {% include 'includes/sections/default.html.twig' with {
      'title': ability.name,
      'subtitle': ability.short,
      'description': ability.description,
      'slug': ability.slug,
      'need': ability.abilitiesRequired|join(', '),
      'bg': asset('resources/images/abilities/'~ability.id~'.jpg'),
      'increases': ability.increases,
    } only %}
  {% endfor %}
{% endblock %}
