{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var arcanes \App\Entity\Rule\Arcane[] #}

{% block page %}abilities{% endblock %}

{% block header %} 
  <h1>Les règles</h1>
  <h2>Capacités</h2>
{% endblock %}

{% block container %}
{% for entry in map %}
    {# @var arcane \App\Entity\Rule\Arcane #}
    {% set arcane = entry['arcane'] %}

    {% set abilities = entry['abilities'] %}
    {% for ability in abilities %}
        {# @var ability \App\Entity\Rule\Ability #}

    {% endfor %}
{% endfor %}
{% endblock %}
