{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var abilities \App\Entity\Rule\Ability #}

{% block page %}abilities{% endblock %}

{% block header %} 
  <h1>Les règles</h1>
  <h2>Capacités</h2>
{% endblock %}

{% block container %}
{% endblock %}
