{% extends 'layout-rules.html.twig' %}

{# /règles/attributs-physiques #}
{# @var attributes \App\Entity\Rule\Attribute #}

{% set header_bg = asset('resources/images/bg-header-attributes.jpg') %}
{% set title = 'Attributs physiques' %}

{% block container %}
  <div class="block block-intro">
    <p>{{ description|augment|raw }}</p>
  </div>

  {% for attribute in attributes %}
    {% include 'includes/sections/default.html.twig' with {
      'title': attribute.name,
      'subtitle': attribute.short,
      'description': attribute.description,
      'slug': attribute.slug,
      'need': attribute.pc ~' point'~ (attribute.pc > 1 ? 's')~' de création',
      'bg': asset('resources/images/attributes/'~attribute.id~'.jpg'),
    } only %}
  {% endfor %}
{% endblock %}
