{% extends 'layout-rules.html.twig' %}

{# /règles/attributs-physiques #}
{# @var attributes \App\Entity\Rule\Attribute #}

{% set header_bg = asset('resources/images/bg-header-attributes.jpg') %}
{% set title = 'Attributs physiques' %}

{% block container %}
    <div class="block block-intro">
        <p>{{ description|augment|raw }}</p>
    </div>

    {% for attribute in attributes %}
        {% include 'includes/sections/attributes.html.twig' with {
        'title': attribute.name,
        'subtitle': attribute.short,
        'description': attribute.description,
        'slug': attribute.slug,
        'attribute': attribute,
        'pc': pc,
        'bg': asset('resources/images/attribute/'~attribute.id~'.jpg'),
        } only %}
    {% endfor %}
{% endblock %}
