{% extends 'layout-rules.html.twig' %}

{# /règles/décharges-d'arcanite #}
{# @var arcane \App\Entity\Rule\Arcane #}
{# @var arcanes \App\Entity\Rule\Arcane[] #}
{# @var bursts \App\Entity\Rule\Burst #}

{% set header_bg = asset('resources/images/bg-header-bursts.jpg') %}
{% set title = 'Décharges d\'arcanite '~arcane.owningStyle %}

{% block breadcrumb %}
    {{ include('includes/breadcrumbs/bursts.html.twig', [arcanes, arcane]) }}
{% endblock %}

{% block container %}
  <div class="block block-intro">
    <p>{{ arcane.description|augment|raw }}</p>
  </div>

  {% for burst in bursts %}
    {% include 'includes/sections/default.html.twig' with {
      'title': burst.name,
      'subtitle': burst.short,
      'description': burst.description,
      'slug': burst.slug,
      'icon': asset('resources/images/arcanes/icons/'~burst.arcane.id~'.svg'),
      'bg': asset('resources/images/bursts/'~burst.id~'.jpg'),
    } only %}
  {% endfor %}
{% endblock %}
