{% extends 'layout-rules.html.twig' %}

{# /règles/décharges-d'arcanite #}
{# @var bursts \App\Entity\Rule\Burst #}

{% set header_bg = asset('resources/images/bg-header-bursts.jpg') %}
{% set subtitle = 'Décharges d\'arcanite' %}

{% block container %}
  <div class="block block-intro">
    <p>{{ description|augment|raw }}</p>
  </div>

  {% for burst in bursts %}
    {% include 'includes/sections/default.html.twig' with {
      'title': burst.name,
      'subtitle': burst.short,
      'description': burst.description,
      'slug': burst.slug,
      'icon': asset('resources/images/arcanes/icons/'~burst.arcane.id~'.svg'),
      'bg': asset('resources/images/bursts/'~burst.id~'.jpg'),
    } only %}
  {% endfor %}
{% endblock %}
