{% extends 'layout-rules.html.twig' %}

{# /règles/équipements #}
{# @var weapons \App\Entity\Stuff #}
{# @var armors \App\Entity\Stuff #}
{# @var objects \App\Entity\Stuff #}
{# @var expendables \App\Entity\Stuff #}

{% set header_bg = asset('resources/images/bg-header-stuff.jpg') %}
{% set subtitle = 'Equipements' %}

{% block container %}
    <div class="block block-intro">
        <p>{{ description|raw }}</p>
    </div>

    <section>
        {% for weapon in weapons %}
        {% endfor %}
        {% for armor in armors %}
        {% endfor %}
        {% for object in objects %}
        {% endfor %}
        {% for expendable in expendables %}
        {% endfor %}
    </section>
{% endblock %}
