{% extends 'layout.html.twig' %}

{# /règles/équipements #}
{# @var weapons \App\Entity\Stuff #}
{# @var armors \App\Entity\Stuff #}
{# @var objects \App\Entity\Stuff #}
{# @var expendables \App\Entity\Stuff #}

{% set page = 'stuff' %}
{% set domain = 'rules' %}

{% block header %}
    <div class="header" style="background-image: url({{ asset('resources/images/bg-header-stuff.jpg') }});">
        <div class="header-content-wrapper">
            <h1>Les règles</h1>
            <h2>Equipements</h2>
        </div>
    </div>
{% endblock %}


{% block container %}
    <div class="block block-intro">
        <p>{{ description|raw }}</p>
    </div>

    <section>
        {% for weapon in weapons %}
        {% endfor %}
        {% for armor in armors %}
        {% endfor %}
        {% for object in objects %}
        {% endfor %}
        {% for expendable in expendables %}
        {% endfor %}
    </section>
{% endblock %}
