{% extends 'layout-rules.html.twig' %}

{# /règles/équipements #}
{# @var category \App\Entity\Rule\StuffCategory #}
{# @var categories \App\Entity\Rule\StuffCategory[] #}
{# @var stuff \App\Entity\Rule\CanonicalStuff[] #}

{% set header_bg = asset('resources/images/stuff_category/'~category.id~'.jpg') %}
{% set title = category.name %}

{% block breadcrumb %}
    {{ include('includes/breadcrumbs/stuff.html.twig', [categories, category]) }}
{% endblock %}

{% block container %}
  <div class="block block-intro">
    <p>{{ description|augment|raw }}</p>
  </div>

  {% for stuffItem in stuff %}
    {% include 'includes/sections/stuff.html.twig' with {
      'title': stuffItem.name,
      'subtitle': stuffItem.short,
      'description': stuffItem.description,
      'slug': stuffItem.slug,
      'stuff': stuffItem,
      'bg': asset('resources/images/stuff/'~stuffItem.id~'.jpg'),
    } only %}
  {% endfor %}
{% endblock %}
