{% set id = 'modal-' ~ entity.name %}
<span
    {#title="{{ entity.name }}"#}
    class="toggle-popover toggle-modal"
    {#data-content="{{ entity.short }}"#}
    data-toggle="modal"
    data-target="#foo"
    {#data-trigger="hover"#}
    {#data-placement="top"#}
>{{ display|raw }}</span>