<nav class="navbar">
  <div class="logo">
    <img src="{{ asset('resources/images/logo-navbar.svg') }}" alt="Logo Les Initiés"> 
    <div>
      <span>Les</span>
      <span>Initiés</span>
    </div>
  </div>

  <ul class="tabs">
    <li>
      <a href="#">Règles</a>
      <ul>
        <li><a href="#">Caractéristiques</a></li>
        <li><a href="#">Equipements</a></li>
        <li><a href="#">Attributs</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Univers</a>
      <ul>
        <li><a href="#">Arcanes</a></li>
        <li><a href="#">Capacités</a></li>
        <li><a href="#">Décharges</a></li>
        <li><a href="#">Divinités</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Outils</a>
      <ul>
        <li><a href="#">Créer une guild</a></li>
        <li><a href="#">Créer un personnage</a></li>
      </ul>
    </li>
  </ul>
</nav>