{% extends 'layout.html.twig' %}

{% block content %}
  <header class="header-home">
      <img src="{{ asset('resources/images/logo.png') }}" alt="Logo">
      <h1>Rejoignez les initiés</h1>
      <h2>Vivez l'aventure</h2>
  </header>

  <section>
    <h1>Le jeu de rôle</h1>

    <div class="block-wrapper">
      <div class="block block-home-1">
        <div class="block-short">
          <img src="{{ asset('resources/images/home-short-picto1.svg') }}" alt="fire">
          <p>Incarnez le personnage de vos rêves</p>
        </div>
      </div>
      
      <div class="block block-home-2">
        <div class="block-short">
          <img src="{{ asset('resources/images/home-short-picto2.svg') }}" alt="fire">
          <p>Concentrez-vous sur le role play et non sur les règles</p>
        </div>
      </div>
      
      <div class="block block-home-3">
        <div class="block-short">
          <img src="{{ asset('resources/images/home-short-picto3.svg') }}" alt="fire">
          <p>Découvrez un univers fantastique surprenant</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}