{% extends 'layout.html.twig' %}

{% block content %}
  <header class="header-home">
      <img src="{{ asset('resources/images/logo.png') }}" alt="Logo">
      <h1>Rejoignez les initiés</h1>
      <h2>Vivez l'aventure</h2>
  </header>
{% endblock %}