{% extends 'layout-universe.html.twig' %}

{# /universe/arcanes #}
{# @var arcanes \App\Entity\Rule\Arcane #}

{% set header_bg = asset('resources/images/bg-header-arcane.jpg') %}
{% set title = 'Arcanes' %}

{% block container %} 
  <div class="block-intro">
    <p>{{ description|augment|raw }}</p>
  </div>

  {% for arcane in arcanes %}
    {% include 'includes/sections/default.html.twig' with {
      'title': arcane.name,
      'subtitle': arcane.short,
      'description': arcane.description,
      'slug': arcane.slug,
      'icon': asset('resources/images/arcane/icons/'~arcane.id~'.svg'),
      'bg': asset('resources/images/arcane/'~arcane.id~'.jpg'),
    } only %}
  {% endfor %}
{% endblock %}
