{% extends 'layout.html.twig' %}

{# /universe/arcanes #}
{# @var arcanes \App\Entity\Rule\Arcane #}

{% block content %}
  <header class="header header-abilities">
    <h1>L'Univers</h1>
    <h2>Arcanes</h2>
  </header>
{% endblock %}
