{% extends 'layout.html.twig' %}

{# /universe/divinités #}
{# @var deities \App\Entity\Rule\Deity #}

{% set page = 'deities' %}
{% set domain = 'universe' %}

{% block header %}
    <div class="header-content-wrapper">
        <h1>L'Univers</h1>
        <h2>Divinités</h2>
    </div>
{% endblock %}


{% block container %}
    <div class="block block-intro">
        <p>{{ description|raw }}</p>
    </div>

    <section>
        {% for deity in deities %}
        {% endfor %}
    </section>
{% endblock %}
