{% extends 'layout.html.twig' %}

{# /lexique #}

{% set header_bg = asset('resources/images/bg-header-lexicon.jpg') %}
{% set title = 'Lexique' %}
{% set subtitle = '' %}

{% block container %}
  <div class="table-wrapper">
    {% for word in lexicon %}
      <a
        href="{{ word|rule_link }}"
        class="table-item toggle-popup"
        data-toggle="modal"
        data-target="#{{ word|create_rule_modal }}"
      >
        <div class="table-item-name">{{ word.name }}</div>
        <div class="table-item-short">{{ word.short }}</div>
      </a>
    {% endfor %}
  </div>
{% endblock %}