/* ====================
======== Popup ========
==================== */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(2, 11, 20, 0.65);
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  background: url(../../images/home/home-short-bg1.png) no-repeat;
  background-size: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-content {
  display: flex;
  justify-content: space-between;

  .modal-header {
    padding-left: 30px;

    .modal-title {
      font-family: $font-family-primary;
      font-size: 1.3em;
      color: $primary-color;
    }
  
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 3000;
    
      background: none;
      border: none;
      font-size: 2em;
      font-weight: 300;
      color: $primary-color;
    }
  }
  
  .modal-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 370px;
    padding: 45px 25px 20px 25px;

    text-align: justify;
    font-weight: 300;
    color: #F0E6D2;
    background: rgba(0, 0, 0, 0.66);
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    min-height: 380px;
    margin: 15% auto;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}
