/* ==================
======= Setup =======
================== */
@font-face {
  font-family: "CinzelDecorative-Bold";
  src: url("../../fonts/cinzel/CinzelDecorative-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Augustus";
  src: url("../../fonts/atene/augustus.ttf") format("opentype");
}

$font-family-primary : "CinzelDecorative-Bold", serif;
$font-family-secondary : 'Manuale', serif;
$font-family-augustus : 'Augustus', serif;

$primary-color : #F0E6D2;
$secondary-color : #FECB5B;
$text-color : #2D3132;
$text-info-color : #8B6F4D;

$font-size : 14px;
$line-height : 18px;

$light-template: url('../../images/block-pattern.png');
$dark-template: url('../../images/navbar-pattern.png');