@font-face {
  font-family: "CinzelDecorative-Bold";
  src: url("../../fonts/cinzel/CinzelDecorative-Bold.otf") format("otf");
}

$font-family-primary : "CinzelDecorative-Bold";
$font-family-secondary : 'Manuale', serif;

$primary-color : #F0E6D2;
$secondary-color : #FFCB64;
$text-color : #2D3132;
$text-info-color : #8B6F4D;

$font-size : 14px;
$line-height : 18px;