@import "setup";
@import "navbar";

body {
  margin: 0;
  padding-top: 65px;

  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  background: #000;
  font-size: $font-size;
}

/* ========== GENERAL ========== */

h1 {
  font-family: $font-family-primary;
  color: $primary-color;
}

h2 {
  font-family: $font-family-primary;
  color: $secondary-color;
}

a {
  text-decoration: none;
}

.main {
  .container {
    max-width: 900px;
    margin: auto;
    padding: 100px 30px;
  }
}

.main-default {
  background: url(../../images/default.jpg) no-repeat fixed;
  background-size: cover;
}

.main-rules {
  background: url(../../images/rules.jpg) no-repeat fixed;
  background-size: cover;
}

.main-universe {
  background: url(../../images/universe.jpg) no-repeat fixed;
  background-size: cover;
}

.main-tools {
  background: url(../../images/tools.jpg) no-repeat fixed;
  background-size: cover;
}

.header {
  max-width: 1500px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  margin: auto;
}

.header-content-wrapper {
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: auto;

  img {
    width: 400px;
  }

  h1 {
    margin-bottom: 0;

    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 0 0 16px black;
  }

  h2 {
    margin-top: 20px;

    font-size: 2.5em;
    text-shadow: 0 0 16px black;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 120px 0;

  .line {
    width: 100%;
    height: 1px;

    background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      $secondary-color 30px,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      $secondary-color 30px,
      rgba(0, 0, 0, 0)
    )
  ;
  }

  .breadcrumb-items {
    position: absolute;
    display: flex;

    a {
      width: 85px;
      position: relative;
      bottom: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 5px;
  
      img {
        height: 35px;
        margin-bottom: 8px;

        opacity: 0.3;
        transition: opacity 0.5s;
      }
  
      span {
        margin-bottom: 2px;

        font-family: $font-family-primary;
        font-size: 0.8em;
        color: $primary-color;
        opacity: 0.3;
        transition: opacity 0.5s;
      }
  
      .bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  
        .bullet-default {
          width: 9px;
          height: 9px;
          position: absolute;
  
          border-radius: 100%;
          border: 1px solid $secondary-color;
          background: #F98D08;
        }
  
        .bullet-active {
          width: 29px;
          height: 29px;
  
          border-radius: 100%;
          background: rgba(255, 191, 0, 0.5);
          opacity: 0;
          transition: opacity 0.5s;
        }
      }
    }

    a.active img,
    a.active span,
    a.active .bullet-active,
    a:hover img,
    a:hover span,
    a:hover .bullet-active {
      opacity: 1;
    }
  }
}

.section-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.block-wrapper {
  margin-top: 30px;
}

.block {
  height: 700px;
  position: relative;
  margin: auto auto 50px auto;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background: black;
  border-radius: 2px;
}

.block-home1,
.block-home2,
.block-home3 {
  width: 350px;
  height: 340px;
}

.block-home1 {
  background: url(../../images/home/home-short-bg1.png) no-repeat;
  background-size: cover;
}

.block-home2 {
  margin: 0 30px;

  background: url(../../images/home/home-short-bg2.png) no-repeat;
  background-size: cover;
}

.block-home3 {
  background: url(../../images/home/home-short-bg3.png) no-repeat;
  background-size: cover;
}

.block-short {
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  border-top: 1px solid $secondary-color;
  text-align: center;
  background: rgba(0, 0, 0, 0.70);

  img {
    position: relative;
    bottom: 25px;
  }

  p {
    max-width: 250px;
    position: relative;
    bottom: 23px;
    margin: auto;

    font-weight: 300;
    color: $primary-color;
  }
}

.block-intro {
  height: auto;
  margin: auto auto 50px auto;
  padding: 20px 30px;
  box-sizing: border-box;

  border-radius: 2px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));

  p {
    max-width: 850px;
    margin: 10px auto;
    
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4em;
    color: #F0E6D2;
  }
}

.block-background {
  position: absolute;
  z-index: 1;
  width: 900px;
  height: 700px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
}

.block-title {
  padding: 20px;
  text-shadow: 0 0 16px black;
  position: relative;
  z-index: 10;

  div {
    display: flex;
    align-items: center;

    img {
      height: 55px;
      margin-right: 15px;
    }

    h1 {
      margin: 10px 0;
      text-shadow: 0 0 16px black;
    }
  }

  span {
    font-family: $font-family-secondary ;
    font-size: 1.1em;
    color: $secondary-color;
  }
}

.block-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;

  list-style-type: none;
  color: $primary-color;

  .line {
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;

    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        $secondary-color 30px,
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        $secondary-color 30px,
        rgba(0, 0, 0, 0)
      )
    ;
  }

  li {
    position: relative;
    right: -14px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;
    
    cursor: pointer;
  }

  li:first-of-type {
    padding-top: 30px;
  }

  li:last-of-type {
    padding-bottom: 30px;
  }

  li.active span {
    font-family: $font-family-augustus;
    color: $secondary-color;
  }

  li.active span,
  li:hover span,
  li.active .bullet-active,
  li:hover .bullet-active {
    opacity: 1;
    width: 29px;
    height: 29px;
  }

  li.active .bullet-default {
    background: #F98D08;
  }

  .bullets {
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

    .bullet-default {
      width: 9px;
      height: 9px;
      position: absolute;

      border-radius: 100%;
      border: 1px solid $secondary-color;
      background: $secondary-color;
    }

    .bullet-active {
      width: 9px;
      height: 9px;

      border-radius: 100%;
      background: rgba(255, 191, 0, 0.5);
      opacity: 0;
      transition: opacity 0.7s ease-out, width 0.3s ease-out, height 0.3s ease-out;
    }
  }

  span {
    width: 29px;
    height: 29px;
    text-align: right;
    font-family: $font-family-augustus;
    font-size: 1.5em;
    color: $primary-color;
    opacity: 0.3;
    transition: opacity 0.5s;
  }
}

.block-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 20px 90px 20px 20px;

  background: rgba(0, 0, 0, 0.5);

  div {
    text-align: justify;
    font-weight: 300;
    color: $primary-color;
  }

  .need {
    color: $secondary-color;
    margin-bottom: 1em;
  }

  .block-content-increase {
    display: none;
  }
}

.block-group {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 30px 0;
  padding: 0;

  border: none;
}

.block-group-item {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 10px;

  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  div {
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;

    border-radius: 0 0 2px 2px;

    background: rgba(0, 0, 0, 0.44);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.8)); /* Standard syntax */

    h2 {
      margin: 0;

      font-size: 0.8em;
    }

    p {
      margin: 2px 0 0 0;

      font-size: 0.7em;
      font-weight: 300;
      color: #fff;
    }
  }
}

.block-group-item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.reverse {
  flex-direction: row-reverse;

  img {
    height: 90%;
    position: absolute;
    bottom: 0;
    top: 25px;
    right: 365px;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

[data-toggle=popover] {
  color: $secondary-color;
  cursor: pointer;
}
.popover {
  position: relative;
  z-index: 100;

  border-radius: 3px;
  color: $primary-color;
  background: 
  linear-gradient(to top, black, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 90%, black),
  linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 90%, black),
  url(../../images/popover.jpg) no-repeat;
  background-size: cover;

  .popover-header {
    padding: 5px 20px 20px 20px;
    
    font-size: 1em;
    font-family: $font-family-primary;

    h3 {
      padding-top: 0;
      margin-top: 0; 
    }
  }

  .popover-body {
    padding: 20px;

    font-size: 0.8em;
    font-weight: 300;
    color: $secondary-color;
    background: rgba(0, 0, 0, 0.5);
  }
}
